{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Создать рекламу{% endblock %}

{% block content %}
    {{ include('UserAdvertisingBundle:Advertising:advertisingMenu.html.twig') }}
    <div class="row">
        <div class="col-md-12">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <h4 class="text-success top20">Выберите место</h4>
            <div class="row top20">
                <div id="format" class="col-md-12 text-center" data-toggle="buttons">
                    <label class="btn btn-success btn-sm">
                        {{ form_errors(form.format.1) }}
                        {{ form_widget(form.format.1) }}
                        Реклама на слайдере
                    </label>
                    <label class="btn btn-success btn-sm">
                        {{ form_errors(form.format.2) }}
                        {{ form_widget(form.format.2) }}
                        Реклама с боку
                    </label>
                </div>
            </div>
            <h4 class="text-success text-center top20">Срок действия</h4>
            <div class="row top20">
                <div class="form-group col-md-6">
                    {{ form_errors(form.date_start) }}
                    {{ form_widget(form.date_start) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_errors(form.date_end) }}
                    {{ form_widget(form.date_end) }}
                </div>
            </div>
            <h4 class="text-success top20">Выберите магазин</h4>
            <div class="row top20">
                {{ form_errors(form.shops) }}
                {{ form_widget(form.shops) }}
                {% for shop in shops %}
                    <label class="col-md-3" for="advertising_platform_shops_{{ shop.id }}">
                        <span class="thumbnail">
                            <img src="{% if (shop.path != '') %}{{ shop.path | imagine_filter('logo_shop') }}{% endif %}" />
                            <span class="caption small">
                                <span class="text-success">
                                    {{ shop.shopname }}
                                </span><br>
                                <span class="text-muted">
                                    Подписчиков: <span class="text-success">{{ shop.users }}</span>
                                </span><br>
                                <span class="text-muted">
                                    Понравилось: <span class="text-success">{{ shop.likes }}</span>
                                </span>
                            </span>
                        </span>
                    </label>
                {% endfor %}
            </div>
            <h4 class="text-success top20">Добавить изображение</h4>
            <div class="row top20">
                <div class="col-md-12">
                    {{ form_label(form.file) }}
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file) }}
                </div>
                <div id="preview-img" class="col-md-12 top20">
                    <canvas class="img-thumbnail preview-img"></canvas>
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-12 text-center">
                    <p id="price">0 руб.</p>
                </div>
            </div>
            {{ form_widget(form.save) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
        </div>
    </div>
    <div id="result"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/create-advertising.js') }}" type="text/javascript"></script>
{% endblock %}