{% block stylesheets %}
    <link href="{{ asset('public/css/main_style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/fancyboxLoginStyle.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/form/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('/public/js/fancybox/JSForWindow.js') }}"></script>
{% endblock %}
        
<ul class="formFields">
    <li>
        <img src="{% if (user.path != '') %}{{ user.path | apply_filter('mini_avatar') }}{% endif %}" />
        <h3>{{ user.realname }}</h3>
    </li>
    <form id="sendMessage" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_widget(form.dialog.send) }}
            {{ form_widget(form.dialog.take) }}
            {{ form_widget(form.users) }}
            <li>
                {{ form_label(form.text) }}
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
            </li>
        {{form_rest(form)}}
        <input class='button'  type="submit" value='Отправить' />
    </form>
</ul>