{% extends '::platform.html.twig' %}

{% block title %}Доставка{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/public/js/shop/secondCategory.js') }}" type="text/javascript"></script>
    <!-- Fancy  -->
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-media.js?v=1.0.6') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/fancybox.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="basket">
        <form action="{{ path('_saveDeliveryOrder', { 'orderNumber' : orderNumber }) }}" method="post" {{ form_enctype(formOrder) }}>
            {{ form_errors(formOrder) }}
                <ul class="formFields delivery">
                    <li><h3>Выберите способ доставки:</h3></li>
                    <li>
                        {% for form in formDelivery %}
                            <ul class="type">
                                <li>
                                    {{ form_label(form.shops) }}
                                    {{ form_widget(form.shops) }}
                                </li>
                                {% for delivery in form.delivery %}
                                    <li>
                                        {{ form_errors(delivery) }}
                                        {{ form_widget(delivery) }}
                                        {{ form_label(delivery) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </li>
                    <li><h3>Адрес доставки:</h3></li>
                    <li>
                        {{ form_label(formOrder.address.realname) }}
                        {{ form_errors(formOrder.address.realname) }}
                        {{ form_widget(formOrder.address.realname) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.country) }}
                        {{ form_errors(formOrder.address.country) }}
                        {{ form_widget(formOrder.address.country) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.city) }}
                        {{ form_errors(formOrder.address.city) }}
                        {{ form_widget(formOrder.address.city) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.street) }}
                        {{ form_errors(formOrder.address.street) }}
                        {{ form_widget(formOrder.address.street) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.home_index) }}
                        {{ form_errors(formOrder.address.home_index) }}
                        {{ form_widget(formOrder.address.home_index) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.phone) }}
                        {{ form_errors(formOrder.address.phone) }}
                        {{ form_widget(formOrder.address.phone) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.email) }}
                        {{ form_errors(formOrder.address.email) }}
                        {{ form_widget(formOrder.address.email) }}
                    </li>
                    <li>
                        {{ form_label(formOrder.address.skype) }}
                        {{ form_errors(formOrder.address.skype) }}
                        {{ form_widget(formOrder.address.skype) }}
                    </li>
                </ul>
                <div class="checkOrder">
                    {{ form_label(formOrder.save) }}
                    {{ form_widget(formOrder.save) }}
                    <ul>
                        <li><p class="allCount">Общие количество: {{ count }}</p></li>
                        <li><p class="send">Примерная стоимость отправки: 0</p></li>
                        <li><p class="sum">Итого: {{ sum }} руб.</p></li>
                    </ul>
                </div>
            {{ form_rest(formOrder) }}
        </form>
    </div>
{% endblock %}