{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
    {% for dialog in dialogs %}
        <div class="col-md-6 bottom10">
            <div class="media">
                <div class="media-left">
                    <a href="{{ path('dialog', { 'id' : dialog.id }) }}">
                        <img class="media-object img-thumbnail {% if (dialog.usersTo.path == '') %}img-avatar-message{% endif %}" {% if (dialog.usersTo.path != '') %}src="{{ dialog.usersTo.path | imagine_filter('message_avatar') }}"{% endif %} />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-success">{{ dialog.messages[0].users.realname }}</h4>
                    <p class="{% if (dialog.flags == false) %}unread{% endif %}">
                        <h5 class="media-heading text-muted">{{ dialog.messages[0].text }}</h5>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('public/js/user/Dialog.js') }}" type="text/javascript"></script>#}
{% endblock %}