{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="btn-group">
            <a class="btn btn-success" href="{{ path('messages') }}">Все сообщения</a>
        </div>
        <div class="btn-group pull-right">
            <button id="remove-message" class="btn btn-danger hide" type="button">Удалить сообщения</button>
        </div>
    </div>
    <div class="col-md-12">
        <div
            id="all-messages"
            class="top20"
            data-user="{{ dialog.users.id }}"
            data-to="{{ dialog.usersTo.id }}"
            data-path-from="{% if dialog.users.path %}{{ dialog.users.path | imagine_filter('mini_avatar') }}{% endif %}"
            data-path-to="{% if dialog.usersTo.path %}{{ dialog.usersTo.path | imagine_filter('mini_avatar') }}{% endif %}">
            {% for message in messages %}
                <div class="col-md-12 bottom10 message-user" data-toggle="{{ message.id }}">
                    <div class="well well-sm bottom0 {% if message.users.id == dialog.users.id %}pull-right{% endif %} col-md-4" data-user="username_{{ message.users.id }}">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ path('user_friends', {'id': message.users.id}) }}">
                                    <img class="media-object {% if message.users.path == '' %}preview-avatar{% endif %}" {% if (message.users.path) %}src="{{ message.users.path | imagine_filter('mini_avatar') }}"{% endif %} />
                                </a>
                            </div>
                            <div class="media-body">
                                <p class="small text-muted {% if message.users.id == dialog.users.id %}{% if message.flags == false %}unread-message{% endif %}{% endif %}">
                                    {{ message.createdAt.format('Y-m-d H:i:s') }}
                                    {% if message.users.id == dialog.users.id %}
                                        <span class="glyphicon glyphicon-ok {% if message.flags %}text-success{% endif %}"></span>
                                    {% endif %}
                                </p>
                                <p>{{ message.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-12">
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save) }}
        </div>
        {{form_rest(form)}}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/date.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/messages.js') }}" type="text/javascript"></script>
{% endblock %}