{% extends '::userEditor.html.twig' %}

{% block body %}
    <ul>
    {% for checkoutProduct in orders %}
        {% for products in checkoutProduct %}
            {% for address in products.address %}
                <li class='orders'>
                    <p class='input'>{{ address.counrty }}</p>
                    <p class='input'>{{ address.city }}</p>
                    <p class='input'>{{ address.street }}</p>
                    <p class='input'>{{ address.index }}</p>
                    <p class='input'>{{ address.phone }}</p>
                </li>
            {% endfor %}
            {% for property in products.products.product %}
                <li class='orders'>
                    <a class='name_product' href='#'>{{ property.name }}</a>
                    <p class='price'>{{ property.price }}</p>
                    <p class='input'>{{ property.count }}</p>
                    <a class='button' href='#'>удалить</a>
                </li>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}