{% extends 'ManagerMainBundle:Base:layout.html.twig' %}

{% block title %}{{ user.getRealname }}{% endblock %}

{% block content %}
    <div class="media">
        <div class="media-left">
            <img class="img-thumbnail" src="{% if(user.getPath) %}{{ user.getPath | apply_filter('avatar') }}{% endif %}" />
        </div>
        <div class="media-body text-success small">
            <h4 class="media-heading">{{ user.realname }}</h4>
            {% if user.description %}<p class="text-muted">{{ user.description }}</p>{% endif %}
            {% if user.city %}<p><span class="text-muted">Страна:</span> {{ user.city.country.name }}</p>{% endif %}
            {% if user.city %}<p><span class="text-muted">Город:</span> {{ user.city.name }}</p>{% endif %}
            {% if user.phone %}<p><span class="text-muted">Телефон:</span> {{ user.phone }}</p>{% endif %}
            {% if user.skype %}<p><span class="text-muted">Skype:</span> {{ user.skype }}</p>{% endif %}
            <p><span class="text-muted">Email:</span> {{ user.getUsername }}</p>
        </div>
    </div>
    <div class="row top20 bottom20">
        <div class="col-lg-12">
            <a class='btn btn-success' href='{{ path('_createShop') }}'>Создать магазин</a>
        </div>
    </div>
    <div class="row top20">
        {% for shop in shops %}
            <div class="col-lg-4">
                <div class="media row">
                    <div class="media-left col-lg-5">
                        <a href="{{ path('_mainShop', { 'shopname' : shop.uniqueName }) }}">
                            <img class="media-object img-responsive" src="{% if (shop.path != '') %}{{ shop.path | apply_filter('logo_shop') }}{% endif %}" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a class="text-success" href="{{ path('_mainShop', { 'shopname' : shop.uniqueName }) }}">{{ shop.shopname }}</a>
                        </h4>
                        <p class="text-muted small">Подписчиков: {{ shop.users }}</p>
                        <p class="text-muted small">Рейтинг: {{ shop.rating }}</p>
                        <div class="btn-group-vertical">
                            <button class="btn btn-success btn-xs" type="button">
                                Понравилось <span class="badge">{{ shop.likes }}</span>
                            </button>
                            <a class="btn btn-success btn-xs" href="{{ path('_updateShop', {'shopname': shop.uniqueName}) }}">
                                <span class="glyphicon glyphicon-cog"></span> Редактировать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}