{% extends '::userEditor.html.twig' %}

{% block title %}Реклама{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/user/Advertising.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ include('ManagerAdvertisingBundle:Advertising:advertisingMenu.html.twig') }}
    <ul class="menuAdvertising">
        <li><a class="paltform" href="#">Реклама на платформе</a></li>
        <li><a class="shopAdv" href="#">Реклама в магазине</a></li>
    </ul>
    <div id="load" class="loadAdv"><div class="processImage"><img src="/public/images/load/ajax-loader.gif"></div></div>
    <div class="contentAdvertising">
        {% if advertising != null %}
            {% for value in advertising %}
                <div class="advertisings">
                    <ul>
                        <li><h3 class="chapter">{{ value.shopname }}</h3></li>
                        <li><p>Место показа: <span>{{ value.name }}</span></p></li>
                        <li><p>Время начала показа: <span>с {{ value.date_start.date }}:00.</span></p></li>
                        <li><p>Время окнчания показа: <span>в {{ value.date_end.date }}:00.</span></p></li>
                    </ul>
                    <ul class="preview">
                        <li><a class="previewImg" href="#">Показать картинку</a></li>
                        {% if value.format == '1' %}
                            <li><img width="817" src="{{ value.path | apply_filter('advertisingSliderPlatform') }}" /></li>
                        {% else %}
                            <li><img src="{{ value.path | apply_filter('advertisingSideOf') }}" /></li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}