{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Дополнительная информация{% endblock %}

{% block content %}
    {{ include('ShopCreateBundle:Menu:menu.html.twig') }}
    <div class="row top20">
        <div class="col-lg-6">
            <form method="post" {{ form_enctype(upload) }}>
                {{ form_errors(upload) }}
                <div class="form-group">
                    {{ form_label(upload.file) }}
                    {{ form_errors(upload.file) }}
                    {{ form_widget(upload.file) }}
                </div>
                {{ form_rest(upload) }}
            </form>
            <img id="preview-img" class="img-thumbnail" src="{% if(image != '') %}{{ image | apply_filter('logo_shop') }}{% endif %}" />
        </div>
        <div class="col-lg-6">
            {{ form_errors(description) }}
            <div class="form-group">
                {{ form_label(description.description) }}
                {{ form_errors(description.description) }}
                {{ form_widget(description.description) }}
            </div>
            {{ form_widget(description.save) }}
            {{ form_rest(description) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/preview-shop.js') }}" type="text/javascript"></script>
{% endblock %}