{% extends 'ManagerMainBundle:Base:layout.html.twig' %}

{% block title %}Дополнительная информация{% endblock %}

{% block content %}
    {{ include('ShopCreateBundle:Menu:menu.html.twig') }}
    <div class="row top20">
        <div class="col-lg-6">
            <form id='logo' target='upload_image' method="post" {{ form_enctype(formUpload) }}>
                {{ form_errors(formUpload) }}
                <span id='errors'>{{ form_errors(formUpload.file) }}</span>
                <div class="form-group">
                    {{ form_label(formUpload.file) }}
                    {{ form_widget(formUpload.file) }}
                    <p id="load" class="loadImage">
                        <img src="{{ asset("public/images/load/ajax-loader-button.gif") }}" />
                    </p>
                </div>
                {{ form_rest(formUpload) }}
            </form>
            <div id="contentIframe" class="property">
                <img width="200" src="{% if(image != '') %}{{ image | apply_filter('logo_shop') }}{% endif %}" />
            </div>
            <iframe id='iframe' name='upload_image' class="hide"></iframe>
        </div>
        <div class="col-lg-6">
            <form id='logo' target='upload_image' method="post" {{ form_enctype(formShop) }}>
                {{ form_errors(formShop) }}
                <div class="form-group">
                    {{ form_label(formShop.description) }}
                    {{ form_errors(formShop.description) }}
                    {{ form_widget(formShop.description) }}
                </div>
                {{ form_rest(formShop) }}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/shop/uploadLogo.js') }}" type="text/javascript"></script>
{% endblock %}