{% extends '::shop.html.twig' %}

{% block title %}{{ products['0'].title }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_MANAGER') %}
        {% if manager %}
            <ul class="menu">
                <li><a href='{{ path('_formInsertProduct', { 'shopname' : shopname }) }}'>+ Добавить товар</a></li>
            </ul>
        {% endif %}
    {% endif %}
    <div class="searchProduct">
        {{ render(controller('SearchShopBundle:SearchShop:searchShop', { 'shopname' : shopname })) }}
    </div>
    <div id="load"><div class="processImage"><img src="/public/images/load/ajax-loader.gif"></div></div>
    <div id="result">
        {% for product in products %}
            <ul class="products">
                <li>
                    <a href='{{ path('_productShop', {'shopname' : shopname, 'idFloor' : floor, 'idCategory' : idCategory, 'idSubcategory' : product.subcategory, 'idProduct' : product.id }) }}'>
                        <span class="imgHover"></span>
                        <img src="{{ asset(product.path | apply_filter('product_image')) }}" alt="Product" />
                    </a>
                </li>
                <li>
                    <h3>{{ product.name }}</h3>
                </li>
                <li>
                    <p>{{ product.price }} руб.</p>
                    <a class="like" href="{{ product.id }}">Хочу <span class="countLike">{{ product.likes }}</span></a>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/shop/searchShop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/shop/Like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/user/AddSubscribe.js') }}" type="text/javascript"></script>
{% endblock %}