{% extends 'ShopProductBundle::layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {% if is_granted('ROLE_MANAGER') %}
        <div class="btn-group">
            <a class="btn btn-success btn-sm" href='{{ path('_addProduct', { 'shopname' : shopname }) }}'>
                Добавить товар
            </a>
            <a class="btn btn-success btn-sm" href='{{ path('_updateProduct', { 'shopname' : shopname, 'id' : product.id }) }}'>
                Редактировать товар
            </a>
        </div>
    {% endif %}
    <div class="media">
        <div class="media-left">
            {% for image in images %}
                <img class="media-object" src="{{ asset(image.path | apply_filter('main_product_image')) }}" alt="Product" />
            {% endfor %}
        </div>
        <div class="media-body">
            <h3 class="alert alert-success top0">{% for tag in tags %}{{ tag.name }} {% endfor %}</h3>
            <form id="orderItem" action="#" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                    <p class="price">
                        {{ product.price }} руб.
                    </p>
                    {{ form_widget(form.save) }}
                {{ form_rest(form) }}
            </form>
            <p class='text'>{{ product.text }}</p>
        </div>
    </div>
    <h3 class="alert alert-success">Похожие товары:</h3>
    <div class="row top20">
        {#{% for product in products %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href='{{ path('_productShop', {'shopname' : shopname, 'id' : product.id }) }}'>
                        <img src="{{ asset(product.path | apply_filter('product_image')) }}" alt="Product" />
                    </a>
                    <div class="caption">
                        <h4>
                            <span class="text-danger">{{ product.price }}</span> <span class="label label-danger">руб.</span>
                            <button id="product-like" class="btn btn-success btn-xs pull-right">
                                Хочу <span class="badge">{{ product.likes }}</span>
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}#}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/shop/Like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/shop/addOrder.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/user/AddSubscribe.js') }}" type="text/javascript"></script>
{% endblock %}