{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Поиск друзей{% endblock %}

{% block content %}
    {{ include('UserFriendsBundle:Friends:menu.html.twig') }}
    {{ form_errors(form) }}
        <div class="input-group top20">
            {{ form_label(form.keywords) }}
            {{ form_errors(form.keywords) }}
            {{ form_widget(form.keywords) }}
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
        {{ form_errors(form.city) }}
        {{ form_widget(form.city) }}
    {{form_rest(form)}}
    <div id="resualtSearch"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/listTypeFriends.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/addFriends.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/searchFriends.js') }}" type="text/javascript"></script>
{% endblock %}