{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Поиск друзей{% endblock %}

{% block content %}
    <div class="col-md-12 bottom20">
        {{ include('UserFriendsBundle:Friends:menu.html.twig') }}
    </div>
    {{ form_errors(search) }}
    <div class="col-md-9">
        <div class="input-group">
            {{ form_errors(search.realname) }}
            {{ form_widget(search.realname) }}
            <span class="input-group-btn">
                <button id="search" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <div id="result-search" class="row"></div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_errors(search.country) }}
            {{ form_widget(search.country) }}
        </div>
        <div class="form-group">
            {{ form_errors(search.city) }}
            {{ form_widget(search.city) }}
        </div>
        {{form_rest(search)}}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/add-friends.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/search-friends.js') }}" type="text/javascript"></script>
{% endblock %}