{% extends '::registration.html.twig' %}

{% block body %}
    <div class="loginForm">
        <h3>Вход для продавцов:</h3>
        {% if error %}
            <div id="errors"><p>Неверный логин/пароль</p></div>
        {% endif %}
        <ul class="login">
            <form action="{{ path('login_check') }}" method="post" {{ form_enctype(form) }}>
                <li><label for="username">Email:</label><input id="username" type="text" name="_username" value="{{ last_username }}" /></li>
                <li><label for="password">Пароль:</label><input id="password" type="password" name="_password" /></li>
                {% if error %}
                    {{ form_errors(form) }}
                        <li class="captcha">
                            <div class="content">
                                {{ form_label(form.captcha) }}
                                {{ form_errors(form.captcha) }}
                                {{ form_widget(form.captcha) }}
                            </div>
                        </li>
                    {{form_rest(form)}}
                {% endif %}
                <li><input class="button" type="submit" value="Войти" /></li>
            </form>
        </ul>
    </div>
    <div class="socialLogin">
        <h3>Вход для покупателей:</h3>
        <ul class="auth">
            <li><a class="vk" href="{{ hwi_oauth_login_url('vkontakte') }}"><span>Войти через ВКонтакте</span></a></li>
            <li><a class="fb" href="{{ hwi_oauth_login_url('facebook') }}"><span>Войти через Facebook</span></a></li>
            <li><a class="gl" href="{{ hwi_oauth_login_url('google') }}"><span>Войти через Google+</span></a></li>
        </ul>
    </div>
{% endblock %}