{% block stylesheets %}
    <link href="{{ asset('public/css/main_style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/shop/comments.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/form/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/public/js/shop/AddComments.js') }}" type="text/javascript"></script>
{% endblock %}
    
<div class='comments'>
{% if comments != '' %}
    {% for comment in comments %}
        <div class='comment'>
            <img src="{% if comment.user_img != '' %}{{ asset(comment.user_img) | apply_filter('mini_avatar') }}{% endif %}" />
            <ul>
                <li><h3>{{ comment.user_name }}</h3></li>
                <li><p>{{ comment.text }}</p></li>
            </ul>
        </div>
    {% endfor %}
{% endif %}
</div>
{% if (form != '') %}
    <ul class='formFields'>
        <form id="addComments" action="{{ path('_addCommentsShop', { 'shopname' : shopname }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
                <li>
                    {{ form_errors(form.text) }}
                    {{ form_label(form.text) }}
                    {{ form_widget(form.text) }}
                </li>
            {{ form_rest(form) }}

            <input class='button' type='submit' value='Добавить' />
       </form>
    </ul>
{% endif %}