{% block stylesheets %}
    <link href="{{ asset('public/css/main_style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/shop/delivery.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/form/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

<div class="textInformation">
    <h3>Способы доставки:</h3>
    {% for value in delivery %}
        <ul>
            <li><img src="{{ value.image }}" /><h3>{{ value.name }}</h3></li>
            <li><p><span>Стоимость:</span> {{ value.price }} руб.</p></li>
            <li><p><span>Время:</span> {{ value.duration }}</p></li>
        </ul>
    {% endfor %}
</div>