{% extends '::main_platform.html.twig' %}

{% block title %}{{ shop.shopname }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-left media-middle">
            <img class="img-thumbnail" src="{% if (shop.path != '') %}{{ shop.path | imagine_filter('logo_shop_information') }}{% endif %}" />
        </div>
        <div class="media-body">
            <h3 class="media-heading text-success">{{ shop.shopname }}</h3>
            {% if is_granted('ROLE_ADMIN') and isShopManager == false %}
                <div class="btn-group-vertical text-center">
                    <button id="add-subscriber" class="btn btn-success btn-sm top10" data-toggle="{{ shop.id }}">
                        Подписаться на новости
                    </button>
                </div>
            {% endif %}
            <p class="text-muted">Всего подписчеков: <span class="text-success">{{ shop.subscribers }}</span></p>
            <div class="btn-group">
                <button id="shop-products" class="btn btn-success" data-toggle="{{ shop.uniqueName }}">Товары</button>
                <button id="shop-information" class="btn btn-success" data-toggle="{{ shop.uniqueName }}">Инфо о магазине</button>
                {% if isShopManager == false and is_granted('ROLE_USER') %}
                    <button id="show-comments" class="btn btn-success" datatype="{{ shop.id }}" data-toggle="modal" data-target="#comments">
                        Отзывы
                    </button>
                    <button id="add-message" class="btn btn-success" data-user="{{ shop.manager }}" data-toggle="modal" data-target="#send-message">
                        <span class="glyphicon glyphicon-edit"></span> Написать продавцу
                    </button>
                    {#<button class="btn btn-success" href="{{ path('_partnersShop', { 'shopname' : uniqueName }) }}">Партнеры</button>#}
                {% endif %}
                {% if isShopManager %}
                    <a class="btn btn-success" href='{{ path('add_product', { 'shopname' : shop.uniqueName }) }}'>
                        <span class="glyphicon glyphicon-plus"></span> Добавить товар
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-12">
            <div class="input-group">
                {{ form_widget(search.hashTags) }}
                {{ form_widget(search._token) }}
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <div id="result" class="row top20">
        {% for product in products %}
            <div class="col-md-3">
                <a href='{{ path('product_platform', {'id' : product.id }) }}'>
                    <img class="img-responsive img-thumbnail" src="{{ asset(product.image[0].path | imagine_filter('product_image')) }}" alt="Product" />
                </a>
                <h4>
                    <span class="text-danger">{{ product.price }}</span> <span class="label label-danger">руб.</span>
                    <button class="btn btn-success btn-xs add-like-product" data-toggle="{{ product.id }}">
                        Хочу <span class="badge">{{ product.likeProduct[0].id }}</span>
                    </button>
                </h4>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Отзывы</h4>
                </div>
                <div class="modal-body">
                    <div class="row bottom20">
                        <div id="comments-list" class="col-md-12"></div>
                    </div>
                    {{ form_start(comments) }}
                        {{ form_errors(comments) }}
                            {{ form_widget(comments.shops) }}
                            {{ form_widget(comments.users) }}
                            <div class="form-group">
                                {{ form_label(comments.text) }}
                                {{ form_errors(comments.text) }}
                                {{ form_widget(comments.text) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(comments.save) }}
                            </div>
                        {{form_rest(comments)}}
                    {{ form_end(comments) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Написат сообщение</h4>
                </div>
                <div class="modal-body">
                    {{ form_errors(message) }}
                    <div class="form-group">
                        {{ form_errors(message.text) }}
                        {{ form_widget(message.text) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(message.save) }}
                    </div>
                    {{form_rest(message)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/add-like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/main-shop.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/add-message.js') }}" type="text/javascript"></script>
{% endblock %}