{% extends '::main_platform.html.twig' %}

{% block title %}{{ shop.shopname }}{% endblock %}

{% block body %}
    <div class="row top20">
        <div class="col-lg-2">
            <img class="img-thumbnail" src="{% if (shop.path != '') %}{{ shop.path | imagine_filter('logo_shop') }}{% endif %}" />
            {% if is_granted('ROLE_USER') %}
                <button class="btn btn-success btn-sm top20" data-toggle="" f="{{ shop.id }}">Подписаться на новости</button>
            {% endif %}
            {#<p>Всего покупателей: <span class="count">{{ shop.users }}</span></p>#}
        </div>
        <div class="col-lg-10">
            <h3 class="top0">{{ shop.shopname }}</h3>
            <div id="carousel-example-generic" class="carousel slide top20" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% if advertising is empty %}
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% else %}
                        {% for image in advertising %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ image.id }}"></li>
                        {% endfor %}
                    {% endif %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% if advertising is empty %}
                        <div class="item active">
                            <img src="{{ asset('public/images/slider.png') | imagine_filter('advertisingSliderPlatform') }}" />
                        </div>
                    {% else %}
                        <div class="item active">
                            <img src="{{ advertising["0"].path | imagine_filter('advertisingSliderPlatform') }}" />
                        </div>
                        {% for image in advertising %}
                            <div class="item">
                                <img src="{{ image.path | imagine_filter('advertisingSliderPlatform') }}" />
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="btn-group top20">
                <button id="shop-products" class="btn btn-success" data-toggle="{{ shop.uniqueName }}">Товары</button>
                <button id="shop-information" class="btn btn-success" data-toggle="{{ shop.uniqueName }}">Инфо о магазине</button>
                <button id="show-comments" class="btn btn-success" datatype="{{ shop.id }}" data-toggle="modal" data-target="#comments">
                    Отзывы
                </button>
                {#<button class="btn btn-success" href="{{ path('_partnersShop', { 'shopname' : uniqueName }) }}">Партнеры</button>#}
                {% if is_granted('ROLE_MANAGER') %}
                    <a class="btn btn-success" href='{{ path('_addProduct', { 'shopname' : uniqueName }) }}'>
                        <span class="glyphicon glyphicon-plus"></span> Добавить товар
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-lg-12">
            <form id="search" method="post" {{ form_enctype(search) }}>
                <div class="input-group">
                    {{ form_errors(search) }}
                    {{ form_label(search.hashTags) }}
                    {{ form_errors(search.hashTags) }}
                    {{ form_widget(search.hashTags) }}
                    {{form_rest(search)}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
    <div id="result" class="row top20">
        {% for product in products %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <a href='{{ path('_productShop', {'shopname' : shopname, 'id' : product.id }) }}'>
                        <img src="{{ asset(product.image[0].path | imagine_filter('product_image')) }}" alt="Product" />
                    </a>
                    <div class="caption">
                        <h4>
                            <span class="text-danger">{{ product.price }}</span> <span class="label label-danger">руб.</span>
                            <button class="btn btn-success btn-xs add-like-product pull-right" data-toggle="{{ product.id }}">
                                Хочу <span class="badge">{{ product.likeProduct[0].id }}</span>
                            </button>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="comments" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Отзывы</h4>
                </div>
                <div class="modal-body">
                    <div class="row bottom20">
                        <div id="comments-list" class="col-md-12"></div>
                    </div>
                    {{ form_start(comments) }}
                        {{ form_errors(comments) }}
                            {{ form_widget(comments.shops) }}
                            {{ form_widget(comments.users) }}
                            <div class="form-group">
                                {{ form_label(comments.text) }}
                                {{ form_errors(comments.text) }}
                                {{ form_widget(comments.text) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(comments.save) }}
                            </div>
                        {{form_rest(comments)}}
                    {{ form_end(comments) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/add-like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/main-shop.js') }}" type="text/javascript"></script>
{% endblock %}