<div class="content">
    {% for product in products %}
        <ul class="products">
            <li>
                <a href='{{ path('_productShop', {'nameShop' : nameShop, 'idFloor' : product.floor, 'idCategory' : product.category, 'idSubcategory' : product.subcategory, 'idProduct' : product.id }) }}'>
                    <span class="imgHover"></span>
                    <img src="{{ asset(product.path | apply_filter('product_image')) }}" alt="Product" />
                </a>
            </li>
            <li>
                <h3>{{ product.name }}</h3>
            </li>
            <li>
                <p>{{ product.price }} руб.</p>
                <a class="like" href="{{ product.id }}">Хочу <span class="countLike">{{ product.likes }}</span></a>
            </li>
        </ul>
    {% endfor %}
</div>