<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <meta name="title" content="Ornest" />
        <meta name="keywords" content="Социальная сеть интернет магазинов, одежда, обувь, верхняя одежда, одежда со скидками">
        <meta name="description" content="Социальная сеть интернет магазинов, одежда, обувь, верхняя одежда, одежда со скидками" />

        <!-- Bootstrap -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheet %}{% endblock %}
        <link href="{{ asset('bootstrap/css/style.css') }}" type="text/css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("_main") }}">Ornest</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('_shops') }}">Магазины</a></li>
                        <li><a href="{{ path('_productsPlatform') }}">Товары</a></li>
                        <li><a href="{{ path('_search') }}">Поиск</a></li>
                        <li><a href="{{ path('_news') }}">Новости</a></li>
                    </ul>

                    {{ render(controller('PlatformMainBundle:SearchMain:searchTop')) }}
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ render(controller('UserUserBundle:Auth:authForm')) }}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 top10">
                        <p class="text-muted small">
                            <span class="glyphicon glyphicon-copyright-mark"></span>
                            Все права защищены 2015 ornest.ru<br />
                            Социальная сеть интернет магазинов
                        </p>
                    </div>
                    <div class="col-lg-8 top20">
                        <a href="{{ path('_shops') }}">о сайте</a>
                        <a href="{{ path('_news') }}">помощь</a>
                        <a href="{{ path('_news') }}">правила</a>
                        <a href="{{ path('_news') }}">реклама</a>
                        <a href="{{ path('_news') }}">вакансии</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>