{% extends 'ManagerMainBundle:Base:layout.html.twig' %}

{% block title %}Создать рекламу{% endblock %}

{% block content %}
    {{ include('ManagerAdvertisingBundle:Advertising:advertisingMenu.html.twig') }}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                    <h3>1. Выберите тип рекламы:</h3>
                    <div data-toggle="buttons">
                        {% for adFormat in form.adFormat %}
                            <label class="btn btn-success btn-xs">
                                {{ form_errors(adFormat) }}
                                {{ form_widget(adFormat) }}
                            </label>
                        {% endfor %}
                    </div>
                    <h3>2. Выберите магазин:</h3>
                    <div class="formFields shop">
                        <div class="input_shop">
                            {{ form_errors(form.shops) }}
                            {{ form_widget(form.shops) }}
                        </div>
                        {% for shop in shops %}
                            <label for="Advertising_shops_{{ shop.id }}">
                                <ul>
                                    <li class="shopId"><span id="{{ shop.id }}"></span></li>
                                    <li>
                                        <span class="check_img"></span>
                                        <img src="{% if (shop.path != '') %}{{ shop.path | apply_filter('logo_shop') }}{% endif %}" />
                                    </li>
                                    <li><h3>{{ shop.shopname }}</h3></li>
                                    <li><p>Подписчиков: <span>{{ shop.users }}</span></p></li>
                                    <li><p>Понравилось: <span>{{ shop.likes }}</span></p></li>
                                </ul>
                            </label>
                        {% endfor %}
                    </div>
                    <h3>3. Выберите место:</h3>
                    <div class="formFields">
                        <ul class="format">
                        {% for format in form.format %}
                            <li>
                                <span>{{ form_widget(format) }}</span>
                                {{ form_errors(format) }}
                                {{ form_label(format) }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="formFields">
                        <h3>4. Срок действия:</h3>
                        <ul class="duration">
                            <li>
                                {{ form_label(form.date_start) }}
                                {{ form_errors(form.date_start) }}
                                {{ form_widget(form.date_start) }}
                            </li>
                            <li>
                                {{ form_label(form.date_end) }}
                                {{ form_errors(form.date_end) }}
                                {{ form_widget(form.date_end) }}
                            </li>
                        </ul>
                    </div>
                    <h3 class="file_chapter">5. Добавте картинку:</h3>
                    <div class="formFields file">
                        <h3 class="error"></h3>
                        <output class="preview_img"></output>
                        {{ form_label(form.file) }}
                        {{ form_errors(form.file) }}
                        {{ form_widget(form.file) }}
                    </div>
                    <div class="formFields">
                        <h3>6. Стоимость:</h3>
                        <div class="price"><p>0 руб.</p></div>
                    </div>
                    <div class="formFields">
                        {{ form_widget(form.save) }}
                    </div>
                {{ form_rest(form) }}
            {{ form_end(form) }}
            <div id="result"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/user/CreateAdvertising.js') }}" type="text/javascript"></script>
{% endblock %}