{% extends '::shop.html.twig' %}

{% block body %}
    <ul class="formFields">
        <li><h3 class="chapter">Добавить новость</h3></li>
        <form action="{{ path('_addNews', { 'shopname' : shopname }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
                <li>
                    {{ form_label(form.text) }}
                    {{ form_errors(form.text) }}
                    {{ form_widget(form.text) }}
                </li>
                <li>
                    {{ form_label(form.file) }}
                    {{ form_errors(form.file) }}
                    {{ form_widget(form.file) }}
                </li>
            {{ form_rest(form) }}

            <input class='button'  type="submit" value="Добавить в новость" />
       </form>
   </ul>
{% endblock %}