{% extends '::userEditor.html.twig' %}

{% block title %}Диалог{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/user/Messages.js') }}" type="text/javascript"></script>
{% endblock %}
    
{% block javascripts_message %}
    <script src="http://ornest.com:8000/socket.io/socket.io.js"></script>
    <script src="{{ asset('public/js/user/Chart.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ include('UserMessagesBundle:Menu:menu.html.twig') }}
    <div class="allMenu">
        <div class="menuMessages">
            <ul>
                <li><a class="allDelete" href="{{ id }}">Корзина</a></li>
                <li><a class="allMessages" href="{{ id }}">Входящие сообщения</a></li>
            </ul>
        </div>
    </div>
    <div class="messages">
    {% for message in messages %}
        <div class="message {% if message.flags == '0' %}unread{% endif %}">
            <span class="tick"></span>
            <img src="{% if (message.path != '') %}{{ message.path | apply_filter('mini_avatar') }}{% endif %}">
            <ul>
                <li><span id="{{ message.message }}" class="messageId"></span></li>
                <li><h3>{{ message.realname }}<span>{{ message.createdAt.date }}</span></h3></li>
                <li><p>{{ message.text }}</p></li>
            </ul>
        </div>
    {% endfor %}
    </div>
    <div class="formMessage">
        <img src="{% if (user.path != '') %}{{ user.path | apply_filter('mini_avatar') }}{% endif %}" />
        <div class="formFields">
            <input id="dialog" type="hidden" value="{{ id }}" />
            <input id="user" type="hidden" value="{{ user.id }}" />
            <input id="path" type="hidden" value="{% if (user.path != '') %}{{ user.path | apply_filter('mini_avatar') }}{% endif %}" />
            <input id="realname" type="hidden" value="{{ user.realname }}" />
            <label for="text">Сообщение *:</label>
            <textarea id="text" placeholder="Текст сообщение..."></textarea>
            <button class='button'>Отправить</button>
        </div>
        <img class="imageRight" src="{% if (path != '') %}{{ path | apply_filter('mini_avatar') }}{% endif %}" />
    </div>
{% endblock %}
