<div class="content">
    <p>
        Все права защищены © 2013 ORNEST<span>.com</span><br />
        Социальная сеть интернет магазинов
    </p>
    <ul class="footMenu">
        <li><a href="{{ path('_shops') }}">о сайте</a></li>
        <li><a href="{{ path('_news') }}">помощь</a></li>
        <li><a href="{{ path('_news') }}">правила</a></li>
        <li><a href="{{ path('_news') }}">реклама</a></li>
        <li><a href="{{ path('_news') }}">вакансии</a></li>
    </ul>
    <img src="/public/images/logo_studii.png" />
</div>