{% extends '::main_platform.html.twig' %}

{% block body %}
    <div class="content">
    {% for shop in shops %}
        <div class="shop">
            <a href="{{ path('_mainShop', { 'nameShop' : shop.unique_name }) }}">
                <img src="{% if (shop.path != '') %}{{ shop.path | apply_filter('logo_shop') }}{% endif %}" /></a>
            </a>
            <ul>
                <li><a href="{{ path('_mainShop', { 'nameShop' : shop.unique_name }) }}">{{ shop.shopname }}</a></li>
                <li><p>Подписчиков: {{ shop.users }}</p></li>
                <li><p>Рейтинг: {{ shop.rating }}</p></li>
                <li><a class="like" href="{{ shop.id }}">Понравилось <span class="countLike">{{ shop.likes }}</span></a></li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}