<div class="top">
    <a class="logo" href="{{ path('_main') }}"></a>
    <div class="mainNav">
        <ul>
            <li><a href="{{ path('_shops') }}">Магазины</a></li>
            <li><a href="{{ path('_productsPlatform') }}">Товары</a></li>
            <li><a href="{{ path('_search') }}">Поиск</a></li>
            <li><a href="{{ path('_news') }}">Новости</a></li>
        </ul>
    </div>
</div>