<div class="btn-group">
    <a class="btn btn-success" href="{{ path('_allMessage') }}">Все сообщения</a>
    <a class="btn btn-success" href="{{ path('_inboxMessage') }}">Входящие</a>
    <a class="btn btn-success" href="{{ path('_outboxMessage') }}">Исходящие</a>
    <a class="btn btn-success" href="{{ path('_deleteMessage') }}">Корзина</a>
    <a class="btn btn-success" href="{{ path('_friends') }}">Список друзей</a>
</div>
