<ul class="menu">
    <li><a href="{{ path('_allMessage') }}">Все сообщения</a></li>
    <li><a href="{{ path('_inboxMessage') }}">Входящие</a></li>
    <li><a href="{{ path('_outboxMessage') }}">Исходящие</a></li>
    <li><a href="{{ path('_deleteMessage') }}">Корзина</a></li>
    <li class="last"><a href="{{ path('_friends') }}">Список друзей</a></li>
</ul>
