{% extends '::main_platform.html.twig' %}

{% block title %}Поиск{% endblock %}

{% block body %}
    <form id="search" class="top20" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        <div class="input-group">
            {{ form_label(form.hashTags) }}
            {{ form_errors(form.hashTags) }}
            {{ form_widget(form.hashTags) }}
            <span class="input-group-btn">
                {{ form_widget(form.save) }}
            </span>
        </div>
        {{form_rest(form)}}
    </form>
    <div id="load" class="hide"><img src="{{ asset("public/images/load/ajax-loader.gif") }}"></div>
    <div id="resultSearch"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/platform/searchPlatform.js') }}" type="text/javascript"></script>
{% endblock %}