{% extends 'ManagerMainBundle:Base:layout.html.twig' %}

{% block title %}Доставка{% endblock %}

{% block content %}
    {{ include('ShopCreateBundle:Menu:menu.html.twig') }}
    {% for value in delivery %}
        <div class="media">
            <div class="media-left media-middle">
                <a href="{{ value.id }}">
                    <img src="{{ asset(value.image) }}" alt="{{ value.name }}" />
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ value.name }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/user/deliveryForm.js') }}" type="text/javascript"></script>
{% endblock %}