<form id='delivery' action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <li>
            {{ form_label(form.price_duration) }}
            {{ form_errors(form.price_duration) }}
            {{ form_widget(form.price_duration) }}
        </li>
        <li>
            {{ form_label(form.duration) }}
            {{ form_errors(form.duration) }}
            {{ form_widget(form.duration) }}
        </li>
    {{ form_rest(form) }}
    <li class="submit">
        <div class="load">
            <p><img src="/public/images/load/ajax-loader-button.gif" /></p>
        </div>
        <input class='button'  type="submit" value="Сохранить" />
    </li>
</form>