{{ form_widget(form.rating) }}
<li class="errors">
    {% if errors == false %}<h3>Адресс магазина : уже занят</h3>{% endif %}
    {{ form_errors(form) }}
</li>
<li>
    {{ form_label(form.uniqueName) }}
    {{ form_errors(form.uniqueName) }}
    {{ form_widget(form.uniqueName) }}
    <span id='checkName'></span>
</li>
<li>
    {{ form_label(form.shopname) }}
    {{ form_errors(form.shopname) }}
    {{ form_widget(form.shopname) }}
</li>
<li>
    {{ form_label(form.keywords) }}
    {{ form_errors(form.keywords) }}
    {{ form_widget(form.keywords) }}
</li>
<li>
    {{ form_label(form.country) }}
    {{ form_errors(form.country) }}
    {{ form_widget(form.country) }}
</li>
<li>
    {{ form_label(form.city) }}
    {{ form_errors(form.city) }}
    {{ form_widget(form.city) }}
</li>
<li>
    {{ form_label(form.street) }}
    {{ form_errors(form.street) }}
    {{ form_widget(form.street) }}
</li>
<li>
    {{ form_label(form.home_index) }}
    {{ form_errors(form.home_index) }}
    {{ form_widget(form.home_index) }}
</li>
<li>
    {{ form_label(form.phone) }}
    {{ form_errors(form.phone) }}
    {{ form_widget(form.phone) }}
</li>
<li>
    {{ form_label(form.fax) }}
    {{ form_errors(form.fax) }}
    {{ form_widget(form.fax) }}
</li>
<li>
    {{ form_label(form.url) }}
    {{ form_errors(form.url) }}
    {{ form_widget(form.url) }}
</li>
<li>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
</li>