{% extends '::userEditor.html.twig' %}

{% block title %}Изменить информацию{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/shop/formRegistrationShop.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ include('ShopCreateBundle:Menu:menu.html.twig') }}
    <ul class='formFields shopCreate'>
        <form action="{{ path('_updateShop', { 'nameShop' : nameShop }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
                {{ include('ShopCreateBundle:Shop:fieldForm.html.twig') }}
            {{ form_rest(form) }}
            <li class="submit">
                <input class='button'  type="submit" value="Изменить" />
            </li>
       </form>
   </ul>
{% endblock %}
