{% extends '::userEditor.html.twig' %}

{% block title %}Создать магазин{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/shop/formRegistrationShop.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="contentShop">
        <ul class='formFields shopCreate'>
            <form action="{{ path('_createShop') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                    {{ include('ShopCreateBundle:Shop:fieldForm.html.twig') }}
                {{ form_rest(form) }}
                <li class="submit">
                    <input class='button'  type="submit" value="Создать" />
                </li>
           </form>
       </ul>
   </div>
{% endblock %}
