<form id="orderItem" action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        {{ form_widget(form.shops) }}
        {{ form_widget(form.product) }}
        <li>
            <ul class="size">
                {% for size in form.size %}
                    <li>
                        {{ form_errors(size) }}
                        {{ form_widget(size) }}
                        {{ form_label(size) }}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <p class="price">{{ price }} руб.</p>
        </li>
        <li>
            {{ form_widget(form.save) }}
            <div class="load">
                <p><img src="/public/images/load/ajax-loader-button.gif" /></p>
            </div>
        </li>
    {{ form_rest(form) }}
</form>

    
