{% extends '::main_platform.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <div class="chapterOrders">
        <h3 class="chepter">Корзина:</h3>
    </div>
    {% if (products != '') %}
        <div class="basket">
            {% for product in products %}
                <div class="order">
                    <h3 class="chapter">{{ product.name }}</h3>
                    <a href='{{ path('_productPlatform', 
                            { 'idFloor' : product.floor, 'idCategory' : product.category, 'idSubcategory' : product.subcategory, 'id' : product.id }) 
                        }}'>
                        <img src="{{ asset(product.path | apply_filter('advertisingSideOf')) }}">
                    </a>
                    <ul>
                        <li><p class='price'><span>Цена:</span> {{ product.price }} руб.</p></li>
                        <li><p class='count'><span>Кол-во:</span> {{ product.number }}</p></li>
                        <li><p class='count'><span>Размер:</span> {{ product.value }}</p></li>
                    </ul>
                    <a class="delete" href='{{ product.num_order }}'>
                        Удалить из корзины <span class="load"><img src="/public/images/load/ajax-loader-button-second.gif" /></span>
                    </a>
                </div>
            {% endfor %}
            <div class="checkOrder">
                <a class="check" href='{{ path('_deliveryOrder', { 'orderNumber' : orderNumber }) }}'>Оформить</a>
                <ul>
                    <li><p class="allCount">Общие количество: {{ count }}</p></li>
                    <li><p class="send">Примерная стоимость отправки: 0</p></li>
                    <li><p class="sum">Итого: {{ sum }} руб.</p></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/shop/addOrder.js') }}" type="text/javascript"></script>
{% endblock %}