{% extends '::main_platform.html.twig' %}

{% block body %}
    <ul class="nav nav-tabs bottom20">
        <li {% if isUser is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('user') }}">Моя Страница</a></li>
        <li {% if isMessage is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('messages') }}">Мои Сообщения <span class="badge">{{ app.user.id|notReadMessage }}</span></a></li>
        <li {% if isFriends is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('friends') }}">Мои Друзья</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li {% if isPartners is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('_partners') }}">Мои Партнеры</a></li>
        {% endif %}
        <li {% if isOrder is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('user_order') }}">Мои Заказы</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li {% if isAdvertising is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('advertising') }}">Реклама</a></li>
        {% endif %}
        {#<li><a href="{{ path('_bookmarks') }}">Закладки</a></li>#}
        <li {% if isProperty is defined %}class="active"{% endif %}><a class="text-success" href="{{ path('property') }}">Настройки</a></li>
    </ul>
    <div class="row">
        {% block content %}{% endblock %}
    </div>
{% endblock %}