{% extends '::main_platform.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row top20">
        <div class="col-md-4">
            {% for image in images %}
                <img class="img-thumbnail" src="{{ asset(image.path | apply_filter('main_product_image')) }}" alt="Product" />
            {% endfor %}
        </div>
        <div class="col-md-8">
            <h3 class="alert alert-success top0">{% for tag in tags %}{{ tag.name }} {% endfor %}</h3>
            <form id="orderItem" action="#" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                    <p class="price">
                        {{ product.price }} руб.
                    </p>
                    {{ form_widget(form.save) }}
                {{ form_rest(form) }}
            </form>
            <p class='text'>{{ product.text }}</p>
            <div class="row">
                <div class="col-lg-5">
                    <div class="media">
                        <div class="media-left">
                            <a href="{{ path('_mainShop', { 'shopname' : product.uniqueName }) }}">
                                <img class="media-object img-responsive" src="{% if (product.logo != '') %}{{ product.logo | apply_filter('logo_shop') }}{% endif %}" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a class="text-success" href="{{ path('_mainShop', { 'shopname' : product.uniqueName }) }}">{{ product.shopname }}</a>
                            </h4>
                            <p class="text-muted small">Подписчиков: {{ product.users }}</p>
                            <p class="text-muted small">Рейтинг: {{ product.rating }}</p>
                            <button class="btn btn-success btn-xs" type="button">
                                Понравилось <span class="badge">{{ product.likes }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="alert alert-success">Похожие товары:</h3>
    <div class='subcategoryProducts'>
        {#{% for product in products %}
            <ul class="products">
                <li>
                    <a href='{{ path('_productPlatform', 
                            { 'idFloor' : product.floor, 'idCategory' : product.category, 'idSubcategory' : product.subcategory, 'id' : product.id }) 
                        }}'>
                        <span class="imgHover"></span>
                        <img src="{{ asset(product.path | apply_filter('product_image')) }}" alt="Product" />
                    </a>
                </li>
                <li>
                    <h3>{{ product.name }}</h3>
                </li>
                <li>
                    <p>{{ product.price }} руб.</p>
                </li>
            </ul>
        {% endfor %}#}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/shop/addOrder.js') }}" type="text/javascript"></script>
{% endblock %}