{% extends '::main_platform.html.twig' %}

{% block title %}{{ product.shopname }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="row">
            {% for image in images %}
                <div class="col-md-6 bottom20">
                    <img class="img-thumbnail img-responsive" src="{{ asset(image.path | imagine_filter('main_product_image')) }}" alt="Product" />
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% if isProductManager %}
                <a class="btn btn-success bottom20" href="{{ path("update_product", {'shopname': product.uniqueName, 'id': product.id}) }}">
                    Обновить информацию о товаре
                </a>
            {% endif %}
            <h3 class="alert alert-success top0">{% for tag in tags %}#{{ tag.name }} {% endfor %}</h3>
            <p class="font24 text-success">
                <strong class="text-muted">{{ product.price|number_format(2, '.', ' ') }}</strong> руб.
            </p>
            {% if isProductManager == false and is_granted('ROLE_USER') %}
            <div class="btn-group">
                <button id="add-order" class="btn btn-success" data-toggle="{{ product.id }}">Купить товар</button>
                <button id="add-message" class="btn btn-success" data-user="{{ product.shopManager }}" data-toggle="modal" data-target="#send-message">
                    <span class="glyphicon glyphicon-edit"></span> Написать продавцу
                </button>
            </div>
            {% endif %}
            <div class="row visible-xs visible-sm top20">
                <div class="col-md-6">
                    <img class="img-thumbnail img-responsive" src="{{ asset(images[0].path | imagine_filter('main_product_image')) }}" alt="Product" />
                </div>
            </div>
            <p class='text-muted top10'>{{ product.text }}</p>
            <div class="media hidden-xs hidden-sm">
                <div class="media-left">
                    <a href="{{ path('main_shop', { 'shopname' : product.uniqueName }) }}">
                        <img class="media-object img-responsive img-thumbnail" src="{% if (product.logo != '') %}{{ product.logo | imagine_filter('logo_shop_information') }}{% endif %}" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a class="text-success" href="{{ path('main_shop', { 'shopname' : product.uniqueName }) }}">{{ product.shopname }}</a>
                    </h4>
                    <p class="text-muted small">Подписчиков: {{ product.users }}</p>
                    <p class="text-muted small">Рейтинг: {{ product.rating }}</p>
                    <button class="btn btn-success btn-xs add-like-shop" type="button" data-toggle="{{ product.shop }}">
                        Понравилось <span class="badge">{{ product.likes }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Написат сообщение</h4>
                </div>
                <div class="modal-body">
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_errors(form.text) }}
                        {{ form_widget(form.text) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.save) }}
                    </div>
                    {{form_rest(form)}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/add-like.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/add-order.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/add-message.js') }}" type="text/javascript"></script>
{% endblock %}