{% extends '::userEditor.html.twig' %}

{% block body %}
    {% if (orders) %}
        <div class="orders">
        {% for order in orders %}
            <div class="order">
                <div class="date"></div>
                {% for shop in shops %}
                    {% if shop.uniqueName == order.products.product.shopname %}
                        <img src="{{ asset(shop.path | apply_filter('logo_shop')) }}">
                        <ul class="address">
                            <li><h3>{{ shop.shopname }}</h3></li>
                            <li><p><span>Имя:</span> {{ shop.realname }}</p></li>
                            <li><p><span>Email:</span> {{ shop.email }}</p></li>
                            <li><p><span>Телефон:</span> {{ shop.phone }}</p></li>
                            <li><a class="" href="#">Отправить сообщение</a></li>
                        </ul>
                    {% endif %}
                {% endfor %}
                <div class="products">
                {% for value in order.products %}
                    <div class="product">
                        <img src="{{ asset(value.path | apply_filter('advertisingSideOf')) }}" />
                        <ul>
                            <li><p><span>Название:</span> {{ value.name }}</p></li>
                            <li><p><span>Цена:</span> {{ value.price }}</p></li>
                            <li><p><span>Кол-во:</span> {{ value.count }}</p></li>
                        </ul>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}