<div class="search">
    <form id="search" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_label(form.cacheTags) }}
            {{ form_errors(form.cacheTags) }}
            {{ form_widget(form.cacheTags) }}
        {{form_rest(form)}}
        <input class="button" type="submit" value="" />
    </form>
</div>