<div class="search">
    <form action="{{ path('_resultProductPlatform') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_label(form.keywords) }}
            {{ form_errors(form.keywords) }}
            {{ form_widget(form.keywords) }}
        {{form_rest(form)}}
        <input class="button" type="submit" value="" />
    </form>
</div>