<div class="nav navbar-nav navbar-form navbar-right col-lg-4">
    <form class=" input-group" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
            {{ form_label(form.hashTags) }}
            {{ form_errors(form.hashTags) }}
            {{ form_widget(form.hashTags) }}
        {{form_rest(form)}}
        <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Go!" />
        </span>
    </form>
</div><!-- /input-group -->