<form id="search" action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <div class="input-group">
            {{ form_label(form.hashTags) }}
            {{ form_errors(form.hashTags) }}
            {{ form_widget(form.hashTags) }}
            <span class="input-group-btn">
                {{ form_widget(form.save) }}
            </span>
        </div>
    {{form_rest(form)}}
</form>