{% extends '::userEditor.html.twig' %}

{% block title %}{{ user.getRealname }}{% endblock %}

{% block body %}
    <div class="avatar">
        <img src="{% if(user.getPath) %}{{ user.getPath | apply_filter('avatar') }}{% endif %}" />
    </div>
    <div class="manager">    
        <h3>{{ user.getRealname }}</h3>
        {% if(preview) %}<p class="short_text">{% if(preview.text_preview != '') %}{{ preview.text_preview }}{% endif %}</p>{% endif %}
        <ul class='information'>
            {% if user.getCity %}<li><p><span>Страна:</span> {{ user.getCity.getCountry.getName }}</p></li>{% endif %}
            {% if user.getCity %}<li><p><span>Родной город:</span>{{ user.getCity.getName }}</p></li>{% endif %}
            <li><p><span>Email:</span> {{ user.getUsername }}</p></li>
        </ul>
        <h3>Информация о покупателе</h3>
        {% if(preview) %}<p class="text">{% if(preview.text_main != '') %}{{ preview.text_main }}{% endif %}</p>{% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
{% endblock %}