<ul>
    <li><a href="{{ path('_user') }}">Моя страница</a></li>
    <li><a href="{{ path('_userOrder') }}">Мои заказы</a></li>
    <li><a href="{{ path('_allMessage') }}">Мои сообщения</a></li>
    <li><a href="{{ path('_friends') }}">Мои друзья</a></li>
</ul>
<ul>
    <li><a href="{{ path('_bookmarks') }}">Закладки</a></li>
    <li><a href="{{ path('_property') }}">Настройки</a></li>
</ul>