{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block content %}
    <div class="btn-group" role="group">
        <a class="btn btn-success" href='{{ path('_createShop') }}'>Создать магазин</a>
    </div>
    <div class="row top20">
        {% for shop in shops %}
            <div class="col-lg-4">
                <div class="media row">
                    <div class="media-left col-lg-5">
                        <a href="{{ path('_mainShop', { 'shopname' : shop.uniqueName }) }}">
                            <img class="media-object img-responsive" src="{% if (shop.path != '') %}{{ shop.path | apply_filter('logo_shop') }}{% endif %}" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a class="text-success" href="{{ path('_mainShop', { 'shopname' : shop.uniqueName }) }}">{{ shop.shopname }}</a>
                        </h4>
                        <p class="text-muted small">Подписчиков: {{ shop.users }}</p>
                        <p class="text-muted small">Рейтинг: {{ shop.rating }}</p>
                        <div class="btn-group-vertical">
                            <button class="btn btn-success btn-xs" type="button">
                                Понравилось <span class="badge">{{ shop.likes }}</span>
                            </button>
                            <a class="btn btn-success btn-xs" href="{{ path('_updateShop', {'shopname': shop.uniqueName}) }}">
                                <span class="glyphicon glyphicon-cog"></span> Редактировать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}