{% extends '::userEditor.html.twig' %}

{% block title %}{{ user.getRealname }}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <!-- Fancy  -->
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-media.js?v=1.0.6') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/fancybox.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="avatar">
        <img src="{% if(user.getPath) %}{{ user.getPath | apply_filter('avatar') }}{% endif %}" />
        {% if check %}
            <a class="addFriends" href="{{ path('_addFriends', { 'id' : user.id }) }}">Добавить в друзья</a>
        {% endif %}
        <a class="sendMessage" href="{{ path('_sendMessage', { 'id' : user.id }) }}">Отправить сообщение</a>
    </div>
    <div class="manager">    
        <h3>{{ user.getRealname }}</h3>
        {% if(preview) %}<p class="short_text">{% if(preview.text_preview != '') %}{{ preview.text_preview }}{% endif %}</p>{% endif %}
        <ul class='information'>
            {% if user.getCity %}<li><p><span>Страна:</span> {{ user.getCity.getCountry.getName }}</p></li>{% endif %}
            {% if user.getCity %}<li><p><span>Родной город:</span>{{ user.getCity.getName }}</p></li>{% endif %}
        </ul>
        <h3>Информация о покупателе</h3>
        {% if(preview) %}<p class="text">{% if(preview.text_main != '') %}{{ preview.text_main }}{% endif %}</p>{% endif %}
    </div>
{% endblock %}