{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}{{ user.getRealname }}{% endblock %}

{% block content %}
    <div class="media">
        <div class="media-left">
            <img class="img-thumbnail" src="{% if(user.getPath) %}{{ user.getPath | imagine_filter('avatar') }}{% endif %}" />
        </div>
        <div class="media-body text-success small">
            <h4 class="media-heading">{{ user.realname }}</h4>
            {% if user.description %}<p class="text-muted">{{ user.description }}</p>{% endif %}
            {% if user.city %}<p><span class="text-muted">Страна:</span> {{ user.city.country.name }}</p>{% endif %}
            {% if user.city %}<p><span class="text-muted">Город:</span> {{ user.city.name }}</p>{% endif %}
            <p><span class="text-muted">Email:</span> {{ user.getUsername }}</p>
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-12">
            {% if check %}
                <a class="btn btn-success" href="{{ path('_addFriends', { 'id' : user.id }) }}">Добавить в друзья</a>
            {% endif %}
            <a class="btn btn-success" href="{{ path('_sendMessage', { 'id' : user.id }) }}">Отправить сообщение</a>
        </div>
    </div>
{% endblock %}