{% block stylesheets %}
    <link href="{{ asset('public/css/main_style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('public/css/shop/shopInformation.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

<h3 class="chapter">Информация о магазине</h3>
<ul class="shopInformation">
    <li><p><span>Название:</span> {{ shop.shopname }}</p></li>
    <li><p><span>Страна:</span> {{ shop.country }}</p></li>
    <li><p><span>Город:</span> {{ shop.city }}</p></li>
    <li><p><span>Улица:</span> {{ shop.street }}</p></li>
    <li><p><span>Индекс:</span> {{ shop.home_index }}</p></li>
    <li><p><span>Телефон:</span> {{ shop.phone }}</p></li>
    <li><p><span>Факс:</span> {{ shop.fax }}</p></li>
    <li><p><span>Email:</span> {{ shop.email }}</p></li>
</ul>
<div class="textInformation">
    <h3>Краткое описание:</h3>
    <p class="text">{% if preview %}{% if preview.text_preview %}{{ preview.text_preview }}{% endif %}{% endif %}</p>
    <h3>Подробное описание:</h3>
    <p class="text">{% if preview %}{% if preview.text_main %}{{ preview.text_main }}{% endif %}{% endif %}</p>
</div>
