{% extends 'UserUserBundle::layout.html.twig' %}

{% block title %}Дополнительные настройки{% endblock %}

{% block content %}
    {{ include('UserUserBundle:User:menuProperty.html.twig') }}
    <div class="row top20">
        <div class="col-md-6">
            {{ form_start(formUpload) }}
                {{ form_errors(formUpload) }}
                    {{ form_errors(formUpload.file) }}
                    {{ form_label(formUpload.file) }}
                    {{ form_widget(formUpload.file) }}
                {{ form_rest(formUpload) }}
            {{ form_end(formUpload) }}
            <img id="preview-img" class="img-thumbnail top20" src="{% if(image) %}{{ image | apply_filter('avatar') }}{% endif %}" />
        </div>
        <div class="col-md-6">
            {{ form_start(formUpload) }}
                {{ form_errors(formDescription) }}
                    {{ form_label(formDescription.description) }}
                    {{ form_errors(formDescription.description) }}
                    {{ form_widget(formDescription.description) }}
                {{ form_rest(formDescription) }}
            {{ form_end(formUpload) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/preview-user.js') }}" type="text/javascript"></script>
{% endblock %}