{% extends '::main_platform.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h4 class="text-success">Войти на сайт</h4>
            <div id="errors" class="login_error"></div>
            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <input id="username" class="form-control" type="text" name="_username" placeholder="Email" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <input id="password" class="form-control" type="password" name="_password" placeholder="Пароль" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked /> Запомнить меня
                    </label>
                </div>
                <button class="btn btn-success " type="submit">Войти</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4 class="text-success">Зарегистрироваться на сайте</h4>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                <div id="emails-valid" class="form-group hide"></div>
                <div class="form-group">
                    {{ form_widget(form.username) }}
                    <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"></span>
                </div>
                <div id="password-valid" class="form-group"></div>
                <div class="form-group">
                    {{ form_widget(form.password.first) }}
                    <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"></span>
                </div>
                <div class="form-group">
                    {{ form_widget(form.password.second) }}
                    <span class="glyphicon glyphicon-ok form-control-feedback hide" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback hide" aria-hidden="true"></span>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            <h4 class="text-success">Вход через соц. сети:</h4>
            <div class="btn-group-vertical" role="group">
                <a class="btn btn-primary" href="{{ hwi_oauth_login_url('vkontakte') }}">Регистрация через ВК</a>
                <a class="btn btn-info" href="{{ hwi_oauth_login_url('facebook') }}">Регистрация через FB</a>
                <a class="btn btn-danger" href="{{ hwi_oauth_login_url('google') }}">Регистрация через G+</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bootstrap/js/add-users.js') }}" type="text/javascript"></script>
{% endblock %}