{% extends '::platform.html.twig' %}

{% block title %}Оплата{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/public/js/location.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/public/js/shop/secondCategory.js') }}" type="text/javascript"></script>
    <!-- Fancy  -->
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/jquery.fancybox-media.js?v=1.0.6') }}"></script>
    <script type="text/javascript" src="{{ asset('/public/js/fancybox/fancybox.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <form action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
                {{ form_widget(form) }}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}