{% extends '::userEditor.html.twig' %}

{% block title %}Закладки{% endblock %}

{% block javascripts %}
    <script src="{{ asset('public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/js/ECMAScript.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {% for shop in shops %}
        <div class="shop">
            <a href='{{ path('_mainShop', { 'shopname' : shop.unique_name }) }}'>
                <img src="{% if (shop.path != '') %}{{ shop.path | apply_filter('logo_shop') }}{% endif %}" /></a>
            </a>
            <ul>
                <li><a href='{{ path('_mainShop', { 'shopname' : shop.unique_name }) }}'>{{ shop.shopname }}</a></li>
                <li><p>Подписчиков: {{ shop.users }}</p></li>
                <li><p>Райтинг: {{ shop.rating }}</p></li>
                <li><p>Понравилось: {{ shop.like_shop }}</p></li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}