<ul>
    <li><a href="{{ path('_manager') }}">Моя Страница</a></li>
    <li><a href="{{ path('_allShopsManager') }}">Мои Магазины</a></li>
    <li><a href="{{ path('_allMessage') }}">Мои Сообщения</a></li>
    <li><a href="{{ path('_friends') }}">Мои Друзья</a></li>
    <li><a href="{{ path('_partners') }}">Мои Партнеры</a></li>
    <li><a href="{{ path('_managerOrder') }}">Мои Заказы</a></li>
</ul>
<ul>
    <li><a href="{{ path('_advertising') }}">Реклама</a></li>
    <li><a href="{{ path('_property') }}">Настройки</a></li>
</ul>